
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Peer Review Administration</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Submissions", "Index", "Submissions")
        @Html.ActionLink("Register Students", "Index","Students")
        @Html.ActionLink("Spoof LTI Data", "LTISpoof")
    </div>
</body>
</html>
