
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Peer Review Administration</title>
</head>
<body>
    <h4>Peer Review Course Administration</h4>
    <div> 
        @Html.ActionLink("Submissions", "Index", "Submissions")<br/>
        @Html.ActionLink("Register Students", "Index","Students")<br/>
        @Html.ActionLink("Spoof LTI Data", "LTISpoof")<br/>
    </div>
</body>
</html>
