@model LTIPeerReview.Models.ToolModel

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
@ViewBag.Message

<h2>Raw POST Parameters</h2>
@foreach (var key in Request.Form.AllKeys)
{
    <div>@key=@Request.Form[key]</div>
}

